<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css')}}">
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash-message {{ category }}">
        {{ message }}
      </div>
    {% endfor %}

  {% endif %}
{% endwith %}
  <div class="dashboard">
    <div class="sidebar">
      <div class="logo">
        <h2>Dashboard</h2>
      </div>
      <ul class="nav">
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="/logout" class="logout">Logout</a></li>
      </ul>
    </div>

    <div class="main-content">
      <header class="header">
        <h1>Welcome, {{ user }}</h1>
      </header>

      <main class="main-body">
        This project is about building a secure authentication system using Python's Flask framework and MongoDB as the database. The primary goal is to create a system where users can register, log-in, and Logout. Users will be able to sign up by providing details such as username, email, and password, with passwords being hashed using libraries like `werkzeug.security` before being stored in MongoDB to ensure security.<br>
        During registration this project have features like role-based access control, email verification during registration, and enhanced security measures such as rate limiting and CSRF protection.<br>
        During login, the system will verify user credentials by comparing the hashed passwords stored in the database. For session management, i can implement Flask sessions to handle authenticated user sessions.<br>
        MongoDB will serve as the backend database, storing user data such as usernames, emails, and hashed passwords, with interactions managed using PyMongo or Flask-PyMongo.<br>
        Overall, this project provides a hands-on opportunity to explore web security, database management, and backend development using Flask and MongoDB.<br><br>
        Thanking You to visit!
      </main>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
</body>
</html> 